@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Playfair+Display:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap');

#logo {
	font-size: 20px;
	color: rgb(232, 158, 16);
	letter-spacing: 10px;
	font-family: 'Playfair Display';
}

#logo:hover {
	opacity: 0.8;
}


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;


}

.header {
	width: 100%;
	height: 5vw;
	border: 1px solid #000;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 2vw;
	font-family: 'Playfair Display', serif;

}

.menu ul {
	list-style: none;
	display: flex;
}

.menu li {
	margin: 0 1vw;
	color: rgb(232, 158, 16);
	letter-spacing: 3px;
	font-family: 'Playfair Display';
	font-size: 1vw;
}

/* ---------- Home ---------- */

.btn-liquid {
	display: inline-block;
	position: relative;
	width: 240px;
	height: 60px;
	border-radius: 27px;
	font: 700 14px/60px "Roboto Slab", sans-serif;
	letter-spacing: 0.05em;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	margin-top: 70px;
}

.btn-liquid .inner {
	position: relative;
	color: black;
	z-index: 2;
}

.btn-liquid canvas {
	position: absolute;
	top: -50px;
	right: -50px;
	bottom: -50px;
	left: -50px;
	z-index: 1;

}

/* MARCEL EDIT */

main {
	min-height: 100vh;
	margin: 0 auto;
	max-width: 1200px;
	padding: 0 1.5em;
}


/* EDUARDO EDIT */


/* PARA USAR NO CONTEUDO DA PAGIA */
.secao {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 300;
	font-size: 30px;
	line-height: 45px;
}

.secao figure {
	display: flex;
	align-items: start;
	justify-content: start;
	width: -webkit-fill-available;
}

.reverse {
	flex-direction: row-reverse;
}

.planetinha__flutuante {
	height: 30%;
	position: absolute;
	z-index: 1;
}

/* FIM CONTEUDO DA PAGINA */


/* ----- INICIO DESTINOS ----- */
hr {
	width: 60%;
	height: 1px;
	background-color: #e89e10;
	border: none;
}

.texto {
	color: #fff;
	font-size: 1.2vw;
	line-height: 2vw;
	font-family: 'Montserrat';
	width: 50%;
}

.text__total {
	width: 100%;
}

.secao__titulo {
	color: #e89e10;
	font-family: 'Playfair Display', serif;
	text-align: center;
	font-size: 32px;
	text-transform: uppercase;
}

.destinos__paises {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 20%;
	margin-bottom: 10%;
}

.destino__sobre {
	width: 80%;
	height: 25vw;
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin: 2vw;
	z-index: 2;
}

.destinos__moedinha {
	width: 40%;
	display: flex;
	align-items: center;
}

.destinos__moedinha__image {
	opacity: 0.5;
	background-color: Black;
	z-index: 1;
	position: absolute;
}

.destinos__moedinha__texto {
	z-index: 2;
	opacity: 1;
	color: #FFFFFF;
	font-family: 'Roboto Slab';
	margin-left: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.destinos__documentos {
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: center;
	width: 75%;
	margin: 2vw;
	margin-bottom: 8%;
}

.destinos__documentos p {
	color: #e89e10;
	margin-bottom: 20px;
}

.destinos__ponto__turistico {
	width: 75%;
	margin: 2vw;
}

.destinos__ponto__turistico__titulo,
.subh2 {
	color: #e89e10;
	font-family: 'Roboto Slab', sans-serif;

}

.destinos__ponto__turistico__nome {
	letter-spacing: 15px;
	margin-bottom: 15px;
}

.destinos__ponto__turistico__descricao {
	display: flex;
	align-items: start;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 10%;
}

.segundo__ponto {
	flex-direction: row-reverse;
}

.destinos__ponto__turistico__descricao figure,
.destinos__ponto__turistico__descricao div {
	width: 45%;
}

.destinos__ponto__turistico__descricao img {
	height: 20%;
	-webkit-box-shadow: 14px 10px 25px 0px rgba(232,158,16,0.39); 
	box-shadow: 14px 10px 25px 0px rgba(232,158,16,0.39);}

.destinos__ponto__turistico__descricao__dicas {
	border-left: 2px solid #e89e10;
	padding-left: 30px;
	margin-bottom: 30px;
	height: 100%;
}

/* FIM DESTINOS */




/* ----- Sobre Star Wars ----- */

.secao__sobre__sw {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.sobresw {
	display: flex;
	width: 80%;
	height: 20sw;
	justify-content: space-around;
	align-items: center;
	margin: 4vw auto;
	z-index: 2;
}

.hr__star__wars {
	margin: 5vw auto;
}

p {
	color: #fff;
}

.swimg {
	width: 30vw;
	height: 20vw;
}

.ssw1 {
	flex-direction: row-reverse;
}


.textoforca {
	display: flex;
	width: 80%;
}

.txforca {
	font-family: sans-serif;
	font-size: 1.3vw;
	text-align: justify;
	text-indent: 1.5vw;
}

.jedi {
	width: 80%;
	height: 10vw;
	display: flex;
	flex-direction: column;
	margin: 8vw auto;
	border-left: 2px solid #e89e10;
	padding-left: 30px;
}













/**
 * Post List Layout
 */
.post-list_grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	align-items: stretch;
}

.post-list__post {
	display: grid;
	grid-template-areas:
		"header"
		"footer"
		"pr_img";
	grid-auto-rows: 1fr auto auto;
	align-items: start;
	grid-gap: 1em 0;
}

.post-list__post:nth-child(2n+1) {
	background-color: var(--secondary1-bg-color);
}

.post-list__post:nth-child(3n+2) {
	grid-template-areas:
		"pr_img"
		"header"
		"footer";
	grid-auto-rows: auto 1fr auto;
}

.post__preview-img {
	grid-area: pr_img;
}

.post__header {
	grid-area: header;
}

.post__meta {
	grid-area: footer;
	align-self: start;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

/**
 * Post List Design
 */
.post-list {
	margin-bottom: 4em;
}

.post {
	position: relative;
	padding: 1.6em;
}

.post:after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	border: 3px var(--master-color) solid;
	z-index: 2;
	opacity: 0;
	-webkit-transition: all .25s ease-out;
	transition: all .25s ease-out;
}

.post:hover:after {
	opacity: 1;
}

.post>* {
	z-index: 4;
	position: relative;
}

.post__preview-img {
	width: 100%;
	height: 0;
	padding-bottom: 56.25%;
	position: relative;
	overflow: hidden;
}

.post__preview-img img {
	width: 100%;
	height: auto;
	position: absolute;
	top: -50%;
	right: -50%;
	bottom: -50%;
	left: -50%;
	margin: auto;
}

.post__time {
	color: var(--sub-color);
}

.post__meta a {
	color: var(--sub-color);
	text-decoration: none;
	border-bottom: 1px var(--sub-color) solid;
}

.post__meta a:hover {
	color: var(--master-color-partner-dark);
}

.post__comments {
	position: relative;
	padding-left: 24px;
}

.post__comments:before,
.post__comments:after {
	content: '';
	display: block;
	position: absolute;
	border: 1px var(--sub-color) solid;
}

.post__comments:before {
	width: 16px;
	height: 11px;
	border-radius: 50%;
	left: 0;
	top: calc(50% - 8px);
	z-index: 1;
}

.post__comments:after {
	width: 3px;
	height: 6px;
	border-width: 0 1px 1px 0;
	transform: rotate(31deg);
	top: 50%;
	left: 11px;
	z-index: 2;
	background-color: var(--secondary1-bg-color);
}

/**
 * Breakpoint 900px
 */
@media all and (max-width: 900px) {
	.post-list_grid {
		grid-template-columns: repeat(2, 1fr);
	}

	.post-list__post:nth-child(n) {
		background-color: transparent;
		grid-template-areas:
			"header"
			"footer"
			"pr_img";
		grid-auto-rows: 1fr auto auto;
	}

	.post-list__post:nth-child(4n),
	.post-list__post:nth-child(4n+1) {
		background-color: var(--secondary1-bg-color);
	}

	.post-list__post:nth-child(even) {
		grid-template-areas:
			"pr_img"
			"header"
			"footer";
		grid-auto-rows: auto 1fr auto;
	}
}

img {
	border-style: none;
	height: auto;
}

a img {
	border: none;
	outline: none;
}

figure {
	display: block;
	background-color: #fff;
	-ms-interpolation-mode: bicubic;
}

figure img {
	display: block;
	width: auto;
	max-width: 100%;
}

/**
 * Variables 
 */


/** 
 * Typography 
 */


h1,
h2 {
	display: block;
	font-family: 'Roboto Slab', sans-serif;
	font-style: normal;
	font-weight: 300;
	line-height: 1.4em;
	color: white;

}

h1 {
	font-size: calc(24px + 2vw);
	margin: 1.2em 0;
}

h2 {
	font-size: calc(22px + .8vw);
}

h1 a,
h2 a {
	font-weight: 300;
	text-decoration: none;
	color: white;
	background-color: transparent;
	outline: none;
}

a:hover {
	color: #e89e10;
}

a:focus {
	color: #e89e10;
	background-color: var(--secondary2-bg-color);
}


/* ---------- Extras ---------- */

/**
 * Breakpoint 670px
 */
@media all and (max-width: 670px) {
	.post-list_grid {
		grid-template-columns: 1fr;
	}

	.post-list__post:nth-child(n) {
		background-color: var(--secondary1-bg-color);
		grid-template-areas:
			"header"
			"footer"
			"pr_img";
		grid-auto-rows: 1fr auto auto;
	}

	.post-list__post:nth-child(even) {
		background-color: transparent;
	}
}

html {
	height: 300vh;
	background: radial-gradient(ellipse at bottom, #090A0F 0%, #090A0F 100%);
}

#stars {
	width: 1px;
	height: 1px;
	background: transparent;
	box-shadow: 764px 1941px #FFF, 390px 1908px #FFF, 268px 1378px #FFF, 1091px 1233px #FFF, 1918px 276px #FFF, 1819px 883px #FFF, 1021px 905px #FFF, 1826px 1604px #FFF, 681px 109px #FFF, 879px 787px #FFF, 622px 1395px #FFF, 1971px 233px #FFF, 1424px 1461px #FFF, 1920px 1838px #FFF, 1669px 1273px #FFF, 1948px 1598px #FFF, 1773px 1944px #FFF, 156px 1158px #FFF, 1553px 29px #FFF, 511px 88px #FFF, 1598px 1414px #FFF, 853px 1929px #FFF, 986px 255px #FFF, 915px 1398px #FFF, 163px 1440px #FFF, 1564px 1137px #FFF, 1493px 1680px #FFF, 169px 1737px #FFF, 627px 1992px #FFF, 1167px 548px #FFF, 335px 547px #FFF, 1990px 1379px #FFF, 728px 1614px #FFF, 1619px 356px #FFF, 786px 107px #FFF, 877px 745px #FFF, 1944px 264px #FFF, 895px 1313px #FFF, 1897px 813px #FFF, 1833px 693px #FFF, 1206px 1763px #FFF, 1231px 1942px #FFF, 832px 163px #FFF, 352px 1625px #FFF, 1866px 1982px #FFF, 1584px 193px #FFF, 550px 1082px #FFF, 676px 882px #FFF, 122px 55px #FFF, 635px 976px #FFF, 164px 669px #FFF, 1562px 23px #FFF, 1927px 1442px #FFF, 13px 173px #FFF, 268px 929px #FFF, 1678px 1469px #FFF, 1106px 1507px #FFF, 1428px 251px #FFF, 695px 1006px #FFF, 1626px 558px #FFF, 1169px 597px #FFF, 734px 491px #FFF, 1032px 99px #FFF, 1711px 481px #FFF, 49px 1030px #FFF, 929px 758px #FFF, 1590px 1370px #FFF, 794px 368px #FFF, 1444px 1179px #FFF, 231px 341px #FFF, 628px 444px #FFF, 256px 1085px #FFF, 1342px 1668px #FFF, 1098px 1856px #FFF, 709px 1738px #FFF, 616px 1546px #FFF, 1546px 1584px #FFF, 732px 227px #FFF, 1550px 178px #FFF, 514px 851px #FFF, 541px 793px #FFF, 1715px 1290px #FFF, 764px 461px #FFF, 1611px 220px #FFF, 868px 145px #FFF, 1888px 1541px #FFF, 1394px 437px #FFF, 1158px 1996px #FFF, 619px 1256px #FFF, 259px 1352px #FFF, 1326px 1160px #FFF, 1394px 1217px #FFF, 777px 892px #FFF, 1826px 917px #FFF, 1662px 1247px #FFF, 1565px 963px #FFF, 1632px 67px #FFF, 1375px 768px #FFF, 1119px 915px #FFF, 1586px 1906px #FFF, 1905px 1312px #FFF, 1728px 1243px #FFF, 445px 1808px #FFF, 929px 452px #FFF, 103px 1381px #FFF, 1422px 1057px #FFF, 1316px 1662px #FFF, 1184px 1412px #FFF, 8px 1528px #FFF, 581px 1961px #FFF, 980px 1633px #FFF, 1176px 1808px #FFF, 527px 945px #FFF, 253px 609px #FFF, 1751px 777px #FFF, 30px 986px #FFF, 1556px 140px #FFF, 808px 1547px #FFF, 623px 812px #FFF, 1072px 1694px #FFF, 311px 350px #FFF, 1290px 1371px #FFF, 1897px 1303px #FFF, 105px 1778px #FFF, 1562px 76px #FFF, 1268px 545px #FFF, 1344px 371px #FFF, 1608px 1750px #FFF, 1665px 1852px #FFF, 1770px 398px #FFF, 1087px 49px #FFF, 1233px 1230px #FFF, 1846px 1439px #FFF, 577px 515px #FFF, 1942px 891px #FFF, 281px 1115px #FFF, 1114px 1031px #FFF, 618px 1454px #FFF, 562px 278px #FFF, 365px 765px #FFF, 1099px 1506px #FFF, 1541px 1713px #FFF, 492px 1293px #FFF, 971px 1575px #FFF, 27px 1932px #FFF, 1381px 1801px #FFF, 1584px 485px #FFF, 1450px 745px #FFF, 118px 196px #FFF, 899px 782px #FFF, 1053px 585px #FFF, 1920px 334px #FFF, 1821px 924px #FFF, 1190px 667px #FFF, 1183px 1057px #FFF, 22px 1783px #FFF, 47px 1658px #FFF, 425px 1345px #FFF, 1743px 358px #FFF, 1733px 1947px #FFF, 1296px 584px #FFF, 1101px 1633px #FFF, 906px 240px #FFF, 766px 475px #FFF, 1998px 727px #FFF, 1405px 244px #FFF, 825px 1875px #FFF, 827px 1215px #FFF, 1652px 521px #FFF, 959px 551px #FFF, 1210px 1623px #FFF, 366px 326px #FFF, 917px 1815px #FFF, 368px 427px #FFF, 1839px 266px #FFF, 1754px 494px #FFF, 533px 613px #FFF, 1910px 578px #FFF, 364px 662px #FFF, 1869px 587px #FFF, 401px 1648px #FFF, 1433px 183px #FFF, 1757px 1966px #FFF, 1549px 804px #FFF, 503px 1769px #FFF, 111px 1579px #FFF, 263px 149px #FFF, 133px 1602px #FFF, 1191px 747px #FFF, 1757px 339px #FFF, 1866px 966px #FFF, 768px 524px #FFF, 1744px 924px #FFF, 1447px 1159px #FFF, 1034px 27px #FFF, 126px 742px #FFF, 239px 1955px #FFF, 891px 1624px #FFF, 1352px 363px #FFF, 769px 993px #FFF, 1155px 901px #FFF, 1196px 660px #FFF, 198px 55px #FFF, 1238px 1454px #FFF, 223px 1779px #FFF, 171px 575px #FFF, 480px 378px #FFF, 1337px 1715px #FFF, 1756px 1836px #FFF, 1094px 1220px #FFF, 774px 305px #FFF, 1936px 1329px #FFF, 1601px 288px #FFF, 597px 541px #FFF, 1928px 734px #FFF, 673px 418px #FFF, 551px 534px #FFF, 1732px 1020px #FFF, 863px 69px #FFF, 534px 834px #FFF, 1897px 955px #FFF, 1996px 819px #FFF, 46px 328px #FFF, 1124px 1659px #FFF, 494px 96px #FFF, 795px 460px #FFF, 798px 1096px #FFF, 416px 1099px #FFF, 1225px 1142px #FFF, 1537px 1512px #FFF, 790px 1197px #FFF, 193px 400px #FFF, 460px 1230px #FFF, 1402px 630px #FFF, 1030px 1289px #FFF, 936px 1221px #FFF, 1407px 564px #FFF, 366px 518px #FFF, 1959px 220px #FFF, 1512px 298px #FFF, 698px 1819px #FFF, 1219px 947px #FFF, 1023px 1586px #FFF, 1455px 1667px #FFF, 1430px 908px #FFF, 960px 16px #FFF, 657px 1698px #FFF, 1688px 915px #FFF, 1778px 772px #FFF, 877px 1522px #FFF, 846px 429px #FFF, 219px 480px #FFF, 1242px 1577px #FFF, 1307px 1646px #FFF, 939px 1534px #FFF, 1989px 298px #FFF, 323px 843px #FFF, 330px 1386px #FFF, 1072px 1071px #FFF, 1004px 55px #FFF, 1836px 1395px #FFF, 1085px 1975px #FFF, 1280px 1153px #FFF, 762px 396px #FFF, 739px 252px #FFF, 1597px 398px #FFF, 265px 273px #FFF, 1621px 741px #FFF, 1464px 1438px #FFF, 714px 1760px #FFF, 1085px 988px #FFF, 1465px 1033px #FFF, 1968px 816px #FFF, 1234px 200px #FFF, 1031px 903px #FFF, 1999px 639px #FFF, 1178px 1993px #FFF, 251px 131px #FFF, 580px 649px #FFF, 1112px 253px #FFF, 1282px 1999px #FFF, 1649px 523px #FFF, 599px 1739px #FFF, 1541px 1101px #FFF, 1368px 1381px #FFF, 968px 1559px #FFF, 786px 45px #FFF, 251px 692px #FFF, 1657px 348px #FFF, 749px 1663px #FFF, 1220px 1437px #FFF, 1595px 1322px #FFF, 1902px 526px #FFF, 1185px 1915px #FFF, 1746px 25px #FFF, 51px 30px #FFF, 1506px 419px #FFF, 1338px 1002px #FFF, 1082px 1546px #FFF, 572px 1893px #FFF, 1812px 34px #FFF, 1953px 75px #FFF, 1153px 890px #FFF, 1694px 188px #FFF, 1506px 1227px #FFF, 545px 478px #FFF, 1009px 1550px #FFF, 865px 1370px #FFF, 1409px 1721px #FFF, 754px 933px #FFF, 1781px 234px #FFF, 1060px 1893px #FFF, 1082px 459px #FFF, 781px 1112px #FFF, 931px 1164px #FFF, 1157px 1475px #FFF, 1308px 560px #FFF, 1202px 1899px #FFF, 1211px 1403px #FFF, 1502px 89px #FFF, 536px 245px #FFF, 1535px 1338px #FFF, 1361px 75px #FFF, 910px 1512px #FFF, 1284px 786px #FFF, 780px 1842px #FFF, 97px 1268px #FFF, 347px 1925px #FFF, 1126px 627px #FFF, 559px 1116px #FFF, 605px 1566px #FFF, 878px 1475px #FFF, 1707px 484px #FFF, 337px 49px #FFF, 43px 1296px #FFF, 644px 1995px #FFF, 585px 854px #FFF, 232px 1211px #FFF, 1629px 1529px #FFF, 611px 985px #FFF, 1863px 1352px #FFF, 1535px 222px #FFF, 897px 356px #FFF, 65px 1989px #FFF, 1102px 1702px #FFF, 1804px 1983px #FFF, 17px 576px #FFF, 787px 355px #FFF, 433px 1866px #FFF, 1736px 160px #FFF, 22px 981px #FFF, 1584px 93px #FFF, 1283px 1px #FFF, 1766px 1729px #FFF, 1461px 1974px #FFF, 1977px 371px #FFF, 161px 686px #FFF, 1675px 403px #FFF, 497px 36px #FFF, 560px 663px #FFF, 1769px 140px #FFF, 182px 1795px #FFF, 427px 635px #FFF, 1322px 1275px #FFF, 1022px 87px #FFF, 977px 768px #FFF, 153px 1718px #FFF, 1770px 1897px #FFF, 1981px 1295px #FFF, 441px 208px #FFF, 134px 1672px #FFF, 857px 371px #FFF, 517px 834px #FFF, 1055px 325px #FFF, 417px 705px #FFF, 833px 718px #FFF, 155px 1063px #FFF, 1215px 923px #FFF, 1454px 1884px #FFF, 1376px 88px #FFF, 1103px 1165px #FFF, 118px 993px #FFF, 461px 1630px #FFF, 1517px 429px #FFF, 462px 1018px #FFF, 881px 1996px #FFF, 1802px 940px #FFF, 1691px 94px #FFF, 1592px 409px #FFF, 320px 1651px #FFF, 384px 380px #FFF, 1518px 184px #FFF, 1479px 551px #FFF, 911px 273px #FFF, 1153px 1181px #FFF, 955px 1085px #FFF, 517px 1081px #FFF, 1620px 828px #FFF, 1537px 1675px #FFF, 1556px 1177px #FFF, 443px 724px #FFF, 864px 1924px #FFF, 514px 782px #FFF, 295px 453px #FFF, 1383px 211px #FFF, 619px 1949px #FFF, 38px 116px #FFF, 1593px 383px #FFF, 1418px 1831px #FFF, 712px 94px #FFF, 1523px 383px #FFF, 1179px 1904px #FFF, 773px 1640px #FFF, 1389px 1522px #FFF, 440px 735px #FFF, 1188px 1921px #FFF, 1868px 1654px #FFF, 1973px 1009px #FFF, 174px 1215px #FFF, 1602px 1420px #FFF, 48px 16px #FFF, 1172px 248px #FFF, 1418px 1363px #FFF, 884px 1288px #FFF, 351px 1240px #FFF, 877px 1716px #FFF, 1959px 120px #FFF, 154px 1401px #FFF, 47px 1822px #FFF, 987px 1385px #FFF, 293px 719px #FFF, 1044px 1760px #FFF, 1821px 820px #FFF, 712px 1399px #FFF, 814px 1766px #FFF, 172px 1856px #FFF, 370px 928px #FFF, 698px 665px #FFF, 932px 928px #FFF, 1958px 417px #FFF, 551px 1489px #FFF, 1390px 1059px #FFF, 138px 971px #FFF, 915px 1012px #FFF, 1298px 1659px #FFF, 353px 1728px #FFF, 1287px 1708px #FFF, 1527px 1536px #FFF, 826px 1158px #FFF, 1488px 404px #FFF, 1663px 681px #FFF, 112px 1971px #FFF, 1913px 815px #FFF, 756px 1288px #FFF, 560px 836px #FFF, 354px 577px #FFF, 831px 1811px #FFF, 314px 940px #FFF, 1219px 1620px #FFF, 1034px 1252px #FFF, 401px 1217px #FFF, 1861px 1921px #FFF, 1843px 1997px #FFF, 73px 1846px #FFF, 1765px 1751px #FFF, 1345px 1894px #FFF, 1564px 1611px #FFF, 1427px 1665px #FFF, 194px 976px #FFF, 616px 615px #FFF, 929px 482px #FFF, 1982px 1269px #FFF, 1977px 1491px #FFF, 1158px 1507px #FFF, 508px 1251px #FFF, 131px 1538px #FFF, 1048px 770px #FFF, 160px 1759px #FFF, 943px 856px #FFF, 1219px 356px #FFF, 644px 419px #FFF, 986px 1191px #FFF, 1860px 1417px #FFF, 1867px 714px #FFF, 1163px 1902px #FFF, 686px 1766px #FFF, 1626px 1487px #FFF, 1957px 925px #FFF, 1795px 527px #FFF, 388px 811px #FFF, 609px 1646px #FFF, 1128px 663px #FFF, 66px 1231px #FFF, 892px 1607px #FFF, 1364px 1670px #FFF, 1717px 68px #FFF, 1989px 1453px #FFF, 623px 668px #FFF, 890px 174px #FFF, 268px 1764px #FFF, 1245px 1079px #FFF, 1639px 1160px #FFF, 515px 437px #FFF, 923px 1517px #FFF, 943px 249px #FFF, 1943px 793px #FFF, 1142px 245px #FFF, 281px 897px #FFF, 708px 765px #FFF, 716px 584px #FFF, 217px 71px #FFF, 378px 561px #FFF, 1868px 1564px #FFF, 1014px 1811px #FFF, 476px 224px #FFF, 1988px 1224px #FFF, 1957px 1664px #FFF, 1329px 1188px #FFF, 695px 1497px #FFF, 947px 67px #FFF, 510px 1614px #FFF, 618px 1081px #FFF, 329px 1808px #FFF, 1701px 1411px #FFF, 1166px 102px #FFF, 778px 662px #FFF, 1718px 1559px #FFF, 870px 642px #FFF, 65px 1209px #FFF, 741px 1292px #FFF, 1218px 1980px #FFF, 1873px 1129px #FFF, 267px 900px #FFF, 265px 1138px #FFF, 765px 133px #FFF, 978px 1083px #FFF, 1243px 1756px #FFF, 1168px 1366px #FFF, 212px 589px #FFF, 1968px 492px #FFF, 586px 1907px #FFF, 675px 956px #FFF, 317px 1022px #FFF, 298px 1357px #FFF, 1707px 1748px #FFF, 241px 1502px #FFF, 579px 354px #FFF, 220px 1590px #FFF, 876px 124px #FFF, 661px 1624px #FFF, 153px 1343px #FFF, 1509px 1624px #FFF, 1401px 243px #FFF, 350px 991px #FFF, 75px 1835px #FFF, 733px 1435px #FFF, 846px 362px #FFF, 1480px 51px #FFF, 1503px 1699px #FFF, 671px 1196px #FFF, 1549px 1164px #FFF, 1898px 1461px #FFF, 1381px 1170px #FFF, 66px 1082px #FFF, 900px 1968px #FFF, 310px 611px #FFF, 381px 783px #FFF, 668px 1454px #FFF, 138px 899px #FFF, 345px 948px #FFF, 268px 212px #FFF, 891px 260px #FFF, 43px 260px #FFF, 1597px 749px #FFF, 1531px 369px #FFF, 509px 1375px #FFF, 865px 1868px #FFF, 1850px 420px #FFF, 1138px 2000px #FFF, 1334px 1215px #FFF, 1016px 877px #FFF, 1794px 241px #FFF, 136px 928px #FFF, 1541px 1210px #FFF, 4px 1850px #FFF, 717px 538px #FFF, 1004px 950px #FFF, 922px 1594px #FFF, 1638px 1738px #FFF, 1644px 1170px #FFF, 1827px 1812px #FFF, 912px 1066px #FFF, 215px 1622px #FFF, 113px 261px #FFF, 1405px 630px #FFF, 955px 508px #FFF, 779px 1065px #FFF, 699px 293px #FFF, 837px 247px #FFF, 9px 1614px #FFF, 251px 598px #FFF, 856px 691px #FFF, 1658px 238px #FFF, 750px 1967px #FFF, 1507px 1228px #FFF, 1669px 1226px #FFF, 1554px 1547px #FFF, 1126px 1875px #FFF, 255px 1207px #FFF, 1367px 126px #FFF, 329px 801px #FFF, 1082px 311px #FFF, 871px 1626px #FFF, 1288px 1496px #FFF, 691px 295px #FFF, 208px 923px #FFF, 1479px 301px #FFF, 1363px 563px #FFF, 868px 1664px #FFF, 431px 938px #FFF, 1572px 59px #FFF, 939px 795px #FFF, 550px 426px #FFF, 1010px 558px #FFF, 458px 208px #FFF, 1669px 414px #FFF, 964px 144px #FFF, 1780px 1354px #FFF, 296px 1564px #FFF, 277px 764px #FFF, 1303px 1221px #FFF, 1465px 755px #FFF, 1381px 799px #FFF, 249px 1238px #FFF, 1014px 762px #FFF, 127px 1708px #FFF, 1786px 513px #FFF, 1675px 694px #FFF, 1153px 4px #FFF, 507px 633px #FFF, 416px 1561px #FFF, 1134px 169px #FFF, 75px 1836px #FFF, 1282px 1803px #FFF, 1552px 166px #FFF, 894px 203px #FFF, 591px 3px #FFF, 1182px 1382px #FFF, 18px 1906px #FFF, 1543px 710px #FFF, 1388px 1651px #FFF, 1032px 697px #FFF, 245px 1904px #FFF, 1895px 456px #FFF, 81px 1196px #FFF, 1842px 68px #FFF, 1876px 1311px #FFF, 719px 1638px #FFF, 1552px 291px #FFF, 627px 702px #FFF, 1980px 782px #FFF, 1474px 1354px #FFF, 1012px 869px #FFF, 1115px 39px #FFF, 530px 704px #FFF, 1550px 1464px #FFF, 132px 1570px #FFF, 983px 866px #FFF, 1352px 921px #FFF, 1892px 1637px #FFF, 1459px 545px #FFF, 302px 68px #FFF, 1260px 826px #FFF, 383px 1396px #FFF, 637px 318px #FFF, 496px 957px #FFF, 1899px 787px #FFF, 1158px 542px #FFF, 1710px 70px #FFF, 301px 177px #FFF, 1803px 228px #FFF, 705px 915px #FFF, 1072px 1964px #FFF, 1124px 1973px #FFF, 1656px 557px #FFF, 759px 979px #FFF, 1594px 1920px #FFF, 1489px 934px #FFF, 1253px 659px #FFF, 547px 144px #FFF, 1910px 932px #FFF, 1381px 162px #FFF, 1400px 402px #FFF, 1242px 196px #FFF, 781px 1977px #FFF, 1295px 1825px #FFF, 631px 607px #FFF, 1144px 1975px #FFF, 1817px 1274px #FFF, 1226px 1098px #FFF;
	animation: animStar 50s linear infinite;
}

#stars:after {
	content: " ";
	position: absolute;
	top: 2000px;
	width: 1px;
	height: 1px;
	background: transparent;
	box-shadow: 764px 1941px #FFF, 390px 1908px #FFF, 268px 1378px #FFF, 1091px 1233px #FFF, 1918px 276px #FFF, 1819px 883px #FFF, 1021px 905px #FFF, 1826px 1604px #FFF, 681px 109px #FFF, 879px 787px #FFF, 622px 1395px #FFF, 1971px 233px #FFF, 1424px 1461px #FFF, 1920px 1838px #FFF, 1669px 1273px #FFF, 1948px 1598px #FFF, 1773px 1944px #FFF, 156px 1158px #FFF, 1553px 29px #FFF, 511px 88px #FFF, 1598px 1414px #FFF, 853px 1929px #FFF, 986px 255px #FFF, 915px 1398px #FFF, 163px 1440px #FFF, 1564px 1137px #FFF, 1493px 1680px #FFF, 169px 1737px #FFF, 627px 1992px #FFF, 1167px 548px #FFF, 335px 547px #FFF, 1990px 1379px #FFF, 728px 1614px #FFF, 1619px 356px #FFF, 786px 107px #FFF, 877px 745px #FFF, 1944px 264px #FFF, 895px 1313px #FFF, 1897px 813px #FFF, 1833px 693px #FFF, 1206px 1763px #FFF, 1231px 1942px #FFF, 832px 163px #FFF, 352px 1625px #FFF, 1866px 1982px #FFF, 1584px 193px #FFF, 550px 1082px #FFF, 676px 882px #FFF, 122px 55px #FFF, 635px 976px #FFF, 164px 669px #FFF, 1562px 23px #FFF, 1927px 1442px #FFF, 13px 173px #FFF, 268px 929px #FFF, 1678px 1469px #FFF, 1106px 1507px #FFF, 1428px 251px #FFF, 695px 1006px #FFF, 1626px 558px #FFF, 1169px 597px #FFF, 734px 491px #FFF, 1032px 99px #FFF, 1711px 481px #FFF, 49px 1030px #FFF, 929px 758px #FFF, 1590px 1370px #FFF, 794px 368px #FFF, 1444px 1179px #FFF, 231px 341px #FFF, 628px 444px #FFF, 256px 1085px #FFF, 1342px 1668px #FFF, 1098px 1856px #FFF, 709px 1738px #FFF, 616px 1546px #FFF, 1546px 1584px #FFF, 732px 227px #FFF, 1550px 178px #FFF, 514px 851px #FFF, 541px 793px #FFF, 1715px 1290px #FFF, 764px 461px #FFF, 1611px 220px #FFF, 868px 145px #FFF, 1888px 1541px #FFF, 1394px 437px #FFF, 1158px 1996px #FFF, 619px 1256px #FFF, 259px 1352px #FFF, 1326px 1160px #FFF, 1394px 1217px #FFF, 777px 892px #FFF, 1826px 917px #FFF, 1662px 1247px #FFF, 1565px 963px #FFF, 1632px 67px #FFF, 1375px 768px #FFF, 1119px 915px #FFF, 1586px 1906px #FFF, 1905px 1312px #FFF, 1728px 1243px #FFF, 445px 1808px #FFF, 929px 452px #FFF, 103px 1381px #FFF, 1422px 1057px #FFF, 1316px 1662px #FFF, 1184px 1412px #FFF, 8px 1528px #FFF, 581px 1961px #FFF, 980px 1633px #FFF, 1176px 1808px #FFF, 527px 945px #FFF, 253px 609px #FFF, 1751px 777px #FFF, 30px 986px #FFF, 1556px 140px #FFF, 808px 1547px #FFF, 623px 812px #FFF, 1072px 1694px #FFF, 311px 350px #FFF, 1290px 1371px #FFF, 1897px 1303px #FFF, 105px 1778px #FFF, 1562px 76px #FFF, 1268px 545px #FFF, 1344px 371px #FFF, 1608px 1750px #FFF, 1665px 1852px #FFF, 1770px 398px #FFF, 1087px 49px #FFF, 1233px 1230px #FFF, 1846px 1439px #FFF, 577px 515px #FFF, 1942px 891px #FFF, 281px 1115px #FFF, 1114px 1031px #FFF, 618px 1454px #FFF, 562px 278px #FFF, 365px 765px #FFF, 1099px 1506px #FFF, 1541px 1713px #FFF, 492px 1293px #FFF, 971px 1575px #FFF, 27px 1932px #FFF, 1381px 1801px #FFF, 1584px 485px #FFF, 1450px 745px #FFF, 118px 196px #FFF, 899px 782px #FFF, 1053px 585px #FFF, 1920px 334px #FFF, 1821px 924px #FFF, 1190px 667px #FFF, 1183px 1057px #FFF, 22px 1783px #FFF, 47px 1658px #FFF, 425px 1345px #FFF, 1743px 358px #FFF, 1733px 1947px #FFF, 1296px 584px #FFF, 1101px 1633px #FFF, 906px 240px #FFF, 766px 475px #FFF, 1998px 727px #FFF, 1405px 244px #FFF, 825px 1875px #FFF, 827px 1215px #FFF, 1652px 521px #FFF, 959px 551px #FFF, 1210px 1623px #FFF, 366px 326px #FFF, 917px 1815px #FFF, 368px 427px #FFF, 1839px 266px #FFF, 1754px 494px #FFF, 533px 613px #FFF, 1910px 578px #FFF, 364px 662px #FFF, 1869px 587px #FFF, 401px 1648px #FFF, 1433px 183px #FFF, 1757px 1966px #FFF, 1549px 804px #FFF, 503px 1769px #FFF, 111px 1579px #FFF, 263px 149px #FFF, 133px 1602px #FFF, 1191px 747px #FFF, 1757px 339px #FFF, 1866px 966px #FFF, 768px 524px #FFF, 1744px 924px #FFF, 1447px 1159px #FFF, 1034px 27px #FFF, 126px 742px #FFF, 239px 1955px #FFF, 891px 1624px #FFF, 1352px 363px #FFF, 769px 993px #FFF, 1155px 901px #FFF, 1196px 660px #FFF, 198px 55px #FFF, 1238px 1454px #FFF, 223px 1779px #FFF, 171px 575px #FFF, 480px 378px #FFF, 1337px 1715px #FFF, 1756px 1836px #FFF, 1094px 1220px #FFF, 774px 305px #FFF, 1936px 1329px #FFF, 1601px 288px #FFF, 597px 541px #FFF, 1928px 734px #FFF, 673px 418px #FFF, 551px 534px #FFF, 1732px 1020px #FFF, 863px 69px #FFF, 534px 834px #FFF, 1897px 955px #FFF, 1996px 819px #FFF, 46px 328px #FFF, 1124px 1659px #FFF, 494px 96px #FFF, 795px 460px #FFF, 798px 1096px #FFF, 416px 1099px #FFF, 1225px 1142px #FFF, 1537px 1512px #FFF, 790px 1197px #FFF, 193px 400px #FFF, 460px 1230px #FFF, 1402px 630px #FFF, 1030px 1289px #FFF, 936px 1221px #FFF, 1407px 564px #FFF, 366px 518px #FFF, 1959px 220px #FFF, 1512px 298px #FFF, 698px 1819px #FFF, 1219px 947px #FFF, 1023px 1586px #FFF, 1455px 1667px #FFF, 1430px 908px #FFF, 960px 16px #FFF, 657px 1698px #FFF, 1688px 915px #FFF, 1778px 772px #FFF, 877px 1522px #FFF, 846px 429px #FFF, 219px 480px #FFF, 1242px 1577px #FFF, 1307px 1646px #FFF, 939px 1534px #FFF, 1989px 298px #FFF, 323px 843px #FFF, 330px 1386px #FFF, 1072px 1071px #FFF, 1004px 55px #FFF, 1836px 1395px #FFF, 1085px 1975px #FFF, 1280px 1153px #FFF, 762px 396px #FFF, 739px 252px #FFF, 1597px 398px #FFF, 265px 273px #FFF, 1621px 741px #FFF, 1464px 1438px #FFF, 714px 1760px #FFF, 1085px 988px #FFF, 1465px 1033px #FFF, 1968px 816px #FFF, 1234px 200px #FFF, 1031px 903px #FFF, 1999px 639px #FFF, 1178px 1993px #FFF, 251px 131px #FFF, 580px 649px #FFF, 1112px 253px #FFF, 1282px 1999px #FFF, 1649px 523px #FFF, 599px 1739px #FFF, 1541px 1101px #FFF, 1368px 1381px #FFF, 968px 1559px #FFF, 786px 45px #FFF, 251px 692px #FFF, 1657px 348px #FFF, 749px 1663px #FFF, 1220px 1437px #FFF, 1595px 1322px #FFF, 1902px 526px #FFF, 1185px 1915px #FFF, 1746px 25px #FFF, 51px 30px #FFF, 1506px 419px #FFF, 1338px 1002px #FFF, 1082px 1546px #FFF, 572px 1893px #FFF, 1812px 34px #FFF, 1953px 75px #FFF, 1153px 890px #FFF, 1694px 188px #FFF, 1506px 1227px #FFF, 545px 478px #FFF, 1009px 1550px #FFF, 865px 1370px #FFF, 1409px 1721px #FFF, 754px 933px #FFF, 1781px 234px #FFF, 1060px 1893px #FFF, 1082px 459px #FFF, 781px 1112px #FFF, 931px 1164px #FFF, 1157px 1475px #FFF, 1308px 560px #FFF, 1202px 1899px #FFF, 1211px 1403px #FFF, 1502px 89px #FFF, 536px 245px #FFF, 1535px 1338px #FFF, 1361px 75px #FFF, 910px 1512px #FFF, 1284px 786px #FFF, 780px 1842px #FFF, 97px 1268px #FFF, 347px 1925px #FFF, 1126px 627px #FFF, 559px 1116px #FFF, 605px 1566px #FFF, 878px 1475px #FFF, 1707px 484px #FFF, 337px 49px #FFF, 43px 1296px #FFF, 644px 1995px #FFF, 585px 854px #FFF, 232px 1211px #FFF, 1629px 1529px #FFF, 611px 985px #FFF, 1863px 1352px #FFF, 1535px 222px #FFF, 897px 356px #FFF, 65px 1989px #FFF, 1102px 1702px #FFF, 1804px 1983px #FFF, 17px 576px #FFF, 787px 355px #FFF, 433px 1866px #FFF, 1736px 160px #FFF, 22px 981px #FFF, 1584px 93px #FFF, 1283px 1px #FFF, 1766px 1729px #FFF, 1461px 1974px #FFF, 1977px 371px #FFF, 161px 686px #FFF, 1675px 403px #FFF, 497px 36px #FFF, 560px 663px #FFF, 1769px 140px #FFF, 182px 1795px #FFF, 427px 635px #FFF, 1322px 1275px #FFF, 1022px 87px #FFF, 977px 768px #FFF, 153px 1718px #FFF, 1770px 1897px #FFF, 1981px 1295px #FFF, 441px 208px #FFF, 134px 1672px #FFF, 857px 371px #FFF, 517px 834px #FFF, 1055px 325px #FFF, 417px 705px #FFF, 833px 718px #FFF, 155px 1063px #FFF, 1215px 923px #FFF, 1454px 1884px #FFF, 1376px 88px #FFF, 1103px 1165px #FFF, 118px 993px #FFF, 461px 1630px #FFF, 1517px 429px #FFF, 462px 1018px #FFF, 881px 1996px #FFF, 1802px 940px #FFF, 1691px 94px #FFF, 1592px 409px #FFF, 320px 1651px #FFF, 384px 380px #FFF, 1518px 184px #FFF, 1479px 551px #FFF, 911px 273px #FFF, 1153px 1181px #FFF, 955px 1085px #FFF, 517px 1081px #FFF, 1620px 828px #FFF, 1537px 1675px #FFF, 1556px 1177px #FFF, 443px 724px #FFF, 864px 1924px #FFF, 514px 782px #FFF, 295px 453px #FFF, 1383px 211px #FFF, 619px 1949px #FFF, 38px 116px #FFF, 1593px 383px #FFF, 1418px 1831px #FFF, 712px 94px #FFF, 1523px 383px #FFF, 1179px 1904px #FFF, 773px 1640px #FFF, 1389px 1522px #FFF, 440px 735px #FFF, 1188px 1921px #FFF, 1868px 1654px #FFF, 1973px 1009px #FFF, 174px 1215px #FFF, 1602px 1420px #FFF, 48px 16px #FFF, 1172px 248px #FFF, 1418px 1363px #FFF, 884px 1288px #FFF, 351px 1240px #FFF, 877px 1716px #FFF, 1959px 120px #FFF, 154px 1401px #FFF, 47px 1822px #FFF, 987px 1385px #FFF, 293px 719px #FFF, 1044px 1760px #FFF, 1821px 820px #FFF, 712px 1399px #FFF, 814px 1766px #FFF, 172px 1856px #FFF, 370px 928px #FFF, 698px 665px #FFF, 932px 928px #FFF, 1958px 417px #FFF, 551px 1489px #FFF, 1390px 1059px #FFF, 138px 971px #FFF, 915px 1012px #FFF, 1298px 1659px #FFF, 353px 1728px #FFF, 1287px 1708px #FFF, 1527px 1536px #FFF, 826px 1158px #FFF, 1488px 404px #FFF, 1663px 681px #FFF, 112px 1971px #FFF, 1913px 815px #FFF, 756px 1288px #FFF, 560px 836px #FFF, 354px 577px #FFF, 831px 1811px #FFF, 314px 940px #FFF, 1219px 1620px #FFF, 1034px 1252px #FFF, 401px 1217px #FFF, 1861px 1921px #FFF, 1843px 1997px #FFF, 73px 1846px #FFF, 1765px 1751px #FFF, 1345px 1894px #FFF, 1564px 1611px #FFF, 1427px 1665px #FFF, 194px 976px #FFF, 616px 615px #FFF, 929px 482px #FFF, 1982px 1269px #FFF, 1977px 1491px #FFF, 1158px 1507px #FFF, 508px 1251px #FFF, 131px 1538px #FFF, 1048px 770px #FFF, 160px 1759px #FFF, 943px 856px #FFF, 1219px 356px #FFF, 644px 419px #FFF, 986px 1191px #FFF, 1860px 1417px #FFF, 1867px 714px #FFF, 1163px 1902px #FFF, 686px 1766px #FFF, 1626px 1487px #FFF, 1957px 925px #FFF, 1795px 527px #FFF, 388px 811px #FFF, 609px 1646px #FFF, 1128px 663px #FFF, 66px 1231px #FFF, 892px 1607px #FFF, 1364px 1670px #FFF, 1717px 68px #FFF, 1989px 1453px #FFF, 623px 668px #FFF, 890px 174px #FFF, 268px 1764px #FFF, 1245px 1079px #FFF, 1639px 1160px #FFF, 515px 437px #FFF, 923px 1517px #FFF, 943px 249px #FFF, 1943px 793px #FFF, 1142px 245px #FFF, 281px 897px #FFF, 708px 765px #FFF, 716px 584px #FFF, 217px 71px #FFF, 378px 561px #FFF, 1868px 1564px #FFF, 1014px 1811px #FFF, 476px 224px #FFF, 1988px 1224px #FFF, 1957px 1664px #FFF, 1329px 1188px #FFF, 695px 1497px #FFF, 947px 67px #FFF, 510px 1614px #FFF, 618px 1081px #FFF, 329px 1808px #FFF, 1701px 1411px #FFF, 1166px 102px #FFF, 778px 662px #FFF, 1718px 1559px #FFF, 870px 642px #FFF, 65px 1209px #FFF, 741px 1292px #FFF, 1218px 1980px #FFF, 1873px 1129px #FFF, 267px 900px #FFF, 265px 1138px #FFF, 765px 133px #FFF, 978px 1083px #FFF, 1243px 1756px #FFF, 1168px 1366px #FFF, 212px 589px #FFF, 1968px 492px #FFF, 586px 1907px #FFF, 675px 956px #FFF, 317px 1022px #FFF, 298px 1357px #FFF, 1707px 1748px #FFF, 241px 1502px #FFF, 579px 354px #FFF, 220px 1590px #FFF, 876px 124px #FFF, 661px 1624px #FFF, 153px 1343px #FFF, 1509px 1624px #FFF, 1401px 243px #FFF, 350px 991px #FFF, 75px 1835px #FFF, 733px 1435px #FFF, 846px 362px #FFF, 1480px 51px #FFF, 1503px 1699px #FFF, 671px 1196px #FFF, 1549px 1164px #FFF, 1898px 1461px #FFF, 1381px 1170px #FFF, 66px 1082px #FFF, 900px 1968px #FFF, 310px 611px #FFF, 381px 783px #FFF, 668px 1454px #FFF, 138px 899px #FFF, 345px 948px #FFF, 268px 212px #FFF, 891px 260px #FFF, 43px 260px #FFF, 1597px 749px #FFF, 1531px 369px #FFF, 509px 1375px #FFF, 865px 1868px #FFF, 1850px 420px #FFF, 1138px 2000px #FFF, 1334px 1215px #FFF, 1016px 877px #FFF, 1794px 241px #FFF, 136px 928px #FFF, 1541px 1210px #FFF, 4px 1850px #FFF, 717px 538px #FFF, 1004px 950px #FFF, 922px 1594px #FFF, 1638px 1738px #FFF, 1644px 1170px #FFF, 1827px 1812px #FFF, 912px 1066px #FFF, 215px 1622px #FFF, 113px 261px #FFF, 1405px 630px #FFF, 955px 508px #FFF, 779px 1065px #FFF, 699px 293px #FFF, 837px 247px #FFF, 9px 1614px #FFF, 251px 598px #FFF, 856px 691px #FFF, 1658px 238px #FFF, 750px 1967px #FFF, 1507px 1228px #FFF, 1669px 1226px #FFF, 1554px 1547px #FFF, 1126px 1875px #FFF, 255px 1207px #FFF, 1367px 126px #FFF, 329px 801px #FFF, 1082px 311px #FFF, 871px 1626px #FFF, 1288px 1496px #FFF, 691px 295px #FFF, 208px 923px #FFF, 1479px 301px #FFF, 1363px 563px #FFF, 868px 1664px #FFF, 431px 938px #FFF, 1572px 59px #FFF, 939px 795px #FFF, 550px 426px #FFF, 1010px 558px #FFF, 458px 208px #FFF, 1669px 414px #FFF, 964px 144px #FFF, 1780px 1354px #FFF, 296px 1564px #FFF, 277px 764px #FFF, 1303px 1221px #FFF, 1465px 755px #FFF, 1381px 799px #FFF, 249px 1238px #FFF, 1014px 762px #FFF, 127px 1708px #FFF, 1786px 513px #FFF, 1675px 694px #FFF, 1153px 4px #FFF, 507px 633px #FFF, 416px 1561px #FFF, 1134px 169px #FFF, 75px 1836px #FFF, 1282px 1803px #FFF, 1552px 166px #FFF, 894px 203px #FFF, 591px 3px #FFF, 1182px 1382px #FFF, 18px 1906px #FFF, 1543px 710px #FFF, 1388px 1651px #FFF, 1032px 697px #FFF, 245px 1904px #FFF, 1895px 456px #FFF, 81px 1196px #FFF, 1842px 68px #FFF, 1876px 1311px #FFF, 719px 1638px #FFF, 1552px 291px #FFF, 627px 702px #FFF, 1980px 782px #FFF, 1474px 1354px #FFF, 1012px 869px #FFF, 1115px 39px #FFF, 530px 704px #FFF, 1550px 1464px #FFF, 132px 1570px #FFF, 983px 866px #FFF, 1352px 921px #FFF, 1892px 1637px #FFF, 1459px 545px #FFF, 302px 68px #FFF, 1260px 826px #FFF, 383px 1396px #FFF, 637px 318px #FFF, 496px 957px #FFF, 1899px 787px #FFF, 1158px 542px #FFF, 1710px 70px #FFF, 301px 177px #FFF, 1803px 228px #FFF, 705px 915px #FFF, 1072px 1964px #FFF, 1124px 1973px #FFF, 1656px 557px #FFF, 759px 979px #FFF, 1594px 1920px #FFF, 1489px 934px #FFF, 1253px 659px #FFF, 547px 144px #FFF, 1910px 932px #FFF, 1381px 162px #FFF, 1400px 402px #FFF, 1242px 196px #FFF, 781px 1977px #FFF, 1295px 1825px #FFF, 631px 607px #FFF, 1144px 1975px #FFF, 1817px 1274px #FFF, 1226px 1098px #FFF;
}

#stars2 {
	width: 2px;
	height: 2px;
	background: transparent;
	box-shadow: 1597px 1613px #FFF, 812px 465px #FFF, 880px 1146px #FFF, 680px 1372px #FFF, 567px 1892px #FFF, 1644px 1851px #FFF, 1003px 906px #FFF, 1181px 1862px #FFF, 431px 1010px #FFF, 1735px 1471px #FFF, 1220px 1512px #FFF, 1387px 806px #FFF, 918px 1727px #FFF, 1061px 1775px #FFF, 1715px 1457px #FFF, 377px 1093px #FFF, 1620px 1744px #FFF, 1882px 1776px #FFF, 1164px 1988px #FFF, 366px 206px #FFF, 730px 1723px #FFF, 1354px 1306px #FFF, 286px 951px #FFF, 1624px 1975px #FFF, 793px 1562px #FFF, 3px 1468px #FFF, 312px 1069px #FFF, 1903px 916px #FFF, 782px 594px #FFF, 1243px 1500px #FFF, 1883px 1808px #FFF, 292px 1769px #FFF, 1095px 1361px #FFF, 1336px 1276px #FFF, 1260px 319px #FFF, 1480px 20px #FFF, 1452px 784px #FFF, 1250px 853px #FFF, 471px 1305px #FFF, 1403px 1687px #FFF, 1228px 177px #FFF, 69px 1344px #FFF, 515px 1440px #FFF, 1651px 1182px #FFF, 1135px 898px #FFF, 1730px 1462px #FFF, 235px 189px #FFF, 544px 859px #FFF, 830px 1809px #FFF, 533px 193px #FFF, 759px 1016px #FFF, 861px 1476px #FFF, 1839px 599px #FFF, 116px 1061px #FFF, 1161px 1808px #FFF, 493px 1225px #FFF, 820px 472px #FFF, 986px 8px #FFF, 405px 748px #FFF, 1451px 1833px #FFF, 1117px 1855px #FFF, 144px 618px #FFF, 935px 1589px #FFF, 778px 1612px #FFF, 1596px 1717px #FFF, 133px 832px #FFF, 1836px 1091px #FFF, 325px 272px #FFF, 1394px 1933px #FFF, 658px 958px #FFF, 185px 982px #FFF, 1514px 199px #FFF, 1011px 1201px #FFF, 597px 1400px #FFF, 1128px 1862px #FFF, 1775px 685px #FFF, 1085px 324px #FFF, 284px 1858px #FFF, 1427px 903px #FFF, 1674px 508px #FFF, 684px 402px #FFF, 173px 342px #FFF, 523px 1799px #FFF, 1566px 1569px #FFF, 1617px 725px #FFF, 553px 1780px #FFF, 1463px 769px #FFF, 38px 913px #FFF, 47px 1228px #FFF, 1099px 321px #FFF, 616px 1468px #FFF, 1149px 1181px #FFF, 1421px 340px #FFF, 1934px 1418px #FFF, 946px 988px #FFF, 1065px 21px #FFF, 1162px 1979px #FFF, 1946px 1316px #FFF, 1799px 1124px #FFF, 531px 252px #FFF, 1274px 805px #FFF, 374px 908px #FFF, 1083px 1576px #FFF, 1268px 946px #FFF, 1446px 1456px #FFF, 1623px 74px #FFF, 245px 268px #FFF, 176px 992px #FFF, 1287px 1193px #FFF, 129px 1599px #FFF, 1923px 1370px #FFF, 1969px 348px #FFF, 545px 1150px #FFF, 995px 1534px #FFF, 265px 1325px #FFF, 656px 1242px #FFF, 1376px 8px #FFF, 1947px 1654px #FFF, 1450px 768px #FFF, 460px 11px #FFF, 1668px 441px #FFF, 1623px 1733px #FFF, 540px 75px #FFF, 1583px 1386px #FFF, 1150px 754px #FFF, 1819px 1631px #FFF, 607px 1746px #FFF, 866px 1082px #FFF, 837px 1466px #FFF, 655px 816px #FFF, 1200px 1067px #FFF, 1650px 1005px #FFF, 19px 1617px #FFF, 1997px 358px #FFF, 1364px 381px #FFF, 103px 1628px #FFF, 1860px 225px #FFF, 777px 1528px #FFF, 633px 173px #FFF, 154px 1669px #FFF, 428px 270px #FFF, 304px 558px #FFF, 1394px 140px #FFF, 1824px 1671px #FFF, 1616px 1569px #FFF, 1255px 191px #FFF, 43px 75px #FFF, 590px 665px #FFF, 1035px 1458px #FFF, 487px 1945px #FFF, 1208px 1045px #FFF, 1705px 1043px #FFF, 11px 339px #FFF, 1299px 139px #FFF, 1284px 1985px #FFF, 232px 1723px #FFF, 1488px 1688px #FFF, 1085px 1932px #FFF, 1476px 302px #FFF, 1970px 1069px #FFF, 69px 339px #FFF, 1211px 222px #FFF, 333px 497px #FFF, 912px 1464px #FFF, 629px 1555px #FFF, 19px 369px #FFF, 1009px 123px #FFF, 1816px 1211px #FFF, 1816px 849px #FFF, 650px 1688px #FFF, 195px 1451px #FFF, 625px 1424px #FFF, 511px 365px #FFF, 1794px 967px #FFF, 771px 450px #FFF, 931px 1036px #FFF, 1087px 564px #FFF, 902px 300px #FFF, 1447px 1859px #FFF, 1268px 665px #FFF, 1844px 1691px #FFF, 1935px 867px #FFF, 1362px 765px #FFF, 1392px 1245px #FFF, 898px 1509px #FFF, 525px 1007px #FFF, 1176px 782px #FFF, 1627px 727px #FFF, 1300px 1067px #FFF, 1263px 669px #FFF, 768px 1934px #FFF, 1303px 284px #FFF, 1784px 131px #FFF, 1638px 1588px #FFF, 1055px 1070px #FFF, 1281px 348px #FFF, 517px 299px #FFF, 1712px 608px #FFF, 511px 91px #FFF, 1906px 1314px #FFF;
	animation: animStar 100s linear infinite;
}

#stars2:after {
	content: " ";
	position: absolute;
	top: 2000px;
	width: 2px;
	height: 2px;
	background: transparent;
	box-shadow: 1597px 1613px #FFF, 812px 465px #FFF, 880px 1146px #FFF, 680px 1372px #FFF, 567px 1892px #FFF, 1644px 1851px #FFF, 1003px 906px #FFF, 1181px 1862px #FFF, 431px 1010px #FFF, 1735px 1471px #FFF, 1220px 1512px #FFF, 1387px 806px #FFF, 918px 1727px #FFF, 1061px 1775px #FFF, 1715px 1457px #FFF, 377px 1093px #FFF, 1620px 1744px #FFF, 1882px 1776px #FFF, 1164px 1988px #FFF, 366px 206px #FFF, 730px 1723px #FFF, 1354px 1306px #FFF, 286px 951px #FFF, 1624px 1975px #FFF, 793px 1562px #FFF, 3px 1468px #FFF, 312px 1069px #FFF, 1903px 916px #FFF, 782px 594px #FFF, 1243px 1500px #FFF, 1883px 1808px #FFF, 292px 1769px #FFF, 1095px 1361px #FFF, 1336px 1276px #FFF, 1260px 319px #FFF, 1480px 20px #FFF, 1452px 784px #FFF, 1250px 853px #FFF, 471px 1305px #FFF, 1403px 1687px #FFF, 1228px 177px #FFF, 69px 1344px #FFF, 515px 1440px #FFF, 1651px 1182px #FFF, 1135px 898px #FFF, 1730px 1462px #FFF, 235px 189px #FFF, 544px 859px #FFF, 830px 1809px #FFF, 533px 193px #FFF, 759px 1016px #FFF, 861px 1476px #FFF, 1839px 599px #FFF, 116px 1061px #FFF, 1161px 1808px #FFF, 493px 1225px #FFF, 820px 472px #FFF, 986px 8px #FFF, 405px 748px #FFF, 1451px 1833px #FFF, 1117px 1855px #FFF, 144px 618px #FFF, 935px 1589px #FFF, 778px 1612px #FFF, 1596px 1717px #FFF, 133px 832px #FFF, 1836px 1091px #FFF, 325px 272px #FFF, 1394px 1933px #FFF, 658px 958px #FFF, 185px 982px #FFF, 1514px 199px #FFF, 1011px 1201px #FFF, 597px 1400px #FFF, 1128px 1862px #FFF, 1775px 685px #FFF, 1085px 324px #FFF, 284px 1858px #FFF, 1427px 903px #FFF, 1674px 508px #FFF, 684px 402px #FFF, 173px 342px #FFF, 523px 1799px #FFF, 1566px 1569px #FFF, 1617px 725px #FFF, 553px 1780px #FFF, 1463px 769px #FFF, 38px 913px #FFF, 47px 1228px #FFF, 1099px 321px #FFF, 616px 1468px #FFF, 1149px 1181px #FFF, 1421px 340px #FFF, 1934px 1418px #FFF, 946px 988px #FFF, 1065px 21px #FFF, 1162px 1979px #FFF, 1946px 1316px #FFF, 1799px 1124px #FFF, 531px 252px #FFF, 1274px 805px #FFF, 374px 908px #FFF, 1083px 1576px #FFF, 1268px 946px #FFF, 1446px 1456px #FFF, 1623px 74px #FFF, 245px 268px #FFF, 176px 992px #FFF, 1287px 1193px #FFF, 129px 1599px #FFF, 1923px 1370px #FFF, 1969px 348px #FFF, 545px 1150px #FFF, 995px 1534px #FFF, 265px 1325px #FFF, 656px 1242px #FFF, 1376px 8px #FFF, 1947px 1654px #FFF, 1450px 768px #FFF, 460px 11px #FFF, 1668px 441px #FFF, 1623px 1733px #FFF, 540px 75px #FFF, 1583px 1386px #FFF, 1150px 754px #FFF, 1819px 1631px #FFF, 607px 1746px #FFF, 866px 1082px #FFF, 837px 1466px #FFF, 655px 816px #FFF, 1200px 1067px #FFF, 1650px 1005px #FFF, 19px 1617px #FFF, 1997px 358px #FFF, 1364px 381px #FFF, 103px 1628px #FFF, 1860px 225px #FFF, 777px 1528px #FFF, 633px 173px #FFF, 154px 1669px #FFF, 428px 270px #FFF, 304px 558px #FFF, 1394px 140px #FFF, 1824px 1671px #FFF, 1616px 1569px #FFF, 1255px 191px #FFF, 43px 75px #FFF, 590px 665px #FFF, 1035px 1458px #FFF, 487px 1945px #FFF, 1208px 1045px #FFF, 1705px 1043px #FFF, 11px 339px #FFF, 1299px 139px #FFF, 1284px 1985px #FFF, 232px 1723px #FFF, 1488px 1688px #FFF, 1085px 1932px #FFF, 1476px 302px #FFF, 1970px 1069px #FFF, 69px 339px #FFF, 1211px 222px #FFF, 333px 497px #FFF, 912px 1464px #FFF, 629px 1555px #FFF, 19px 369px #FFF, 1009px 123px #FFF, 1816px 1211px #FFF, 1816px 849px #FFF, 650px 1688px #FFF, 195px 1451px #FFF, 625px 1424px #FFF, 511px 365px #FFF, 1794px 967px #FFF, 771px 450px #FFF, 931px 1036px #FFF, 1087px 564px #FFF, 902px 300px #FFF, 1447px 1859px #FFF, 1268px 665px #FFF, 1844px 1691px #FFF, 1935px 867px #FFF, 1362px 765px #FFF, 1392px 1245px #FFF, 898px 1509px #FFF, 525px 1007px #FFF, 1176px 782px #FFF, 1627px 727px #FFF, 1300px 1067px #FFF, 1263px 669px #FFF, 768px 1934px #FFF, 1303px 284px #FFF, 1784px 131px #FFF, 1638px 1588px #FFF, 1055px 1070px #FFF, 1281px 348px #FFF, 517px 299px #FFF, 1712px 608px #FFF, 511px 91px #FFF, 1906px 1314px #FFF;
}

#stars3 {
	width: 3px;
	height: 3px;
	background: transparent;
	box-shadow: 1345px 1284px #FFF, 811px 1225px #FFF, 1984px 1958px #FFF, 1235px 1389px #FFF, 1953px 1940px #FFF, 1191px 1003px #FFF, 267px 184px #FFF, 282px 588px #FFF, 155px 1520px #FFF, 1819px 1842px #FFF, 1205px 717px #FFF, 499px 1958px #FFF, 1528px 1519px #FFF, 1768px 1119px #FFF, 1209px 825px #FFF, 1120px 899px #FFF, 155px 1344px #FFF, 1621px 1282px #FFF, 802px 338px #FFF, 1199px 964px #FFF, 627px 1950px #FFF, 1405px 1887px #FFF, 1215px 1148px #FFF, 1531px 1284px #FFF, 1293px 518px #FFF, 1033px 1666px #FFF, 1783px 1904px #FFF, 447px 669px #FFF, 726px 308px #FFF, 784px 1827px #FFF, 1046px 1275px #FFF, 1718px 32px #FFF, 1787px 1998px #FFF, 731px 50px #FFF, 1510px 1603px #FFF, 100px 421px #FFF, 949px 1636px #FFF, 1352px 1317px #FFF, 1303px 1461px #FFF, 163px 1895px #FFF, 1010px 1212px #FFF, 588px 1801px #FFF, 1783px 1525px #FFF, 848px 1519px #FFF, 1896px 589px #FFF, 176px 1816px #FFF, 1200px 1937px #FFF, 571px 897px #FFF, 521px 712px #FFF, 1125px 639px #FFF, 1930px 1308px #FFF, 1991px 103px #FFF, 958px 1175px #FFF, 1326px 151px #FFF, 1333px 1970px #FFF, 704px 444px #FFF, 1749px 742px #FFF, 1075px 1048px #FFF, 1349px 221px #FFF, 1076px 154px #FFF, 977px 15px #FFF, 1971px 1859px #FFF, 122px 706px #FFF, 710px 80px #FFF, 1804px 1968px #FFF, 816px 489px #FFF, 859px 1112px #FFF, 1899px 1212px #FFF, 1945px 1884px #FFF, 817px 282px #FFF, 952px 1973px #FFF, 797px 1087px #FFF, 1533px 1196px #FFF, 1370px 1123px #FFF, 541px 102px #FFF, 1782px 1871px #FFF, 1776px 1649px #FFF, 1921px 1037px #FFF, 867px 551px #FFF, 1367px 744px #FFF, 1841px 1109px #FFF, 1905px 1167px #FFF, 1473px 181px #FFF, 1978px 1076px #FFF, 464px 840px #FFF, 1820px 1861px #FFF, 1681px 1195px #FFF, 928px 1718px #FFF, 575px 325px #FFF, 753px 1466px #FFF, 247px 1474px #FFF, 1767px 899px #FFF, 627px 1655px #FFF, 465px 1497px #FFF, 881px 248px #FFF, 741px 690px #FFF, 968px 1385px #FFF, 266px 657px #FFF, 857px 94px #FFF, 1726px 1418px #FFF;
	animation: animStar 150s linear infinite;
}

#stars3:after {
	content: " ";
	position: absolute;
	top: 2000px;
	width: 3px;
	height: 3px;
	background: transparent;
	box-shadow: 1345px 1284px #FFF, 811px 1225px #FFF, 1984px 1958px #FFF, 1235px 1389px #FFF, 1953px 1940px #FFF, 1191px 1003px #FFF, 267px 184px #FFF, 282px 588px #FFF, 155px 1520px #FFF, 1819px 1842px #FFF, 1205px 717px #FFF, 499px 1958px #FFF, 1528px 1519px #FFF, 1768px 1119px #FFF, 1209px 825px #FFF, 1120px 899px #FFF, 155px 1344px #FFF, 1621px 1282px #FFF, 802px 338px #FFF, 1199px 964px #FFF, 627px 1950px #FFF, 1405px 1887px #FFF, 1215px 1148px #FFF, 1531px 1284px #FFF, 1293px 518px #FFF, 1033px 1666px #FFF, 1783px 1904px #FFF, 447px 669px #FFF, 726px 308px #FFF, 784px 1827px #FFF, 1046px 1275px #FFF, 1718px 32px #FFF, 1787px 1998px #FFF, 731px 50px #FFF, 1510px 1603px #FFF, 100px 421px #FFF, 949px 1636px #FFF, 1352px 1317px #FFF, 1303px 1461px #FFF, 163px 1895px #FFF, 1010px 1212px #FFF, 588px 1801px #FFF, 1783px 1525px #FFF, 848px 1519px #FFF, 1896px 589px #FFF, 176px 1816px #FFF, 1200px 1937px #FFF, 571px 897px #FFF, 521px 712px #FFF, 1125px 639px #FFF, 1930px 1308px #FFF, 1991px 103px #FFF, 958px 1175px #FFF, 1326px 151px #FFF, 1333px 1970px #FFF, 704px 444px #FFF, 1749px 742px #FFF, 1075px 1048px #FFF, 1349px 221px #FFF, 1076px 154px #FFF, 977px 15px #FFF, 1971px 1859px #FFF, 122px 706px #FFF, 710px 80px #FFF, 1804px 1968px #FFF, 816px 489px #FFF, 859px 1112px #FFF, 1899px 1212px #FFF, 1945px 1884px #FFF, 817px 282px #FFF, 952px 1973px #FFF, 797px 1087px #FFF, 1533px 1196px #FFF, 1370px 1123px #FFF, 541px 102px #FFF, 1782px 1871px #FFF, 1776px 1649px #FFF, 1921px 1037px #FFF, 867px 551px #FFF, 1367px 744px #FFF, 1841px 1109px #FFF, 1905px 1167px #FFF, 1473px 181px #FFF, 1978px 1076px #FFF, 464px 840px #FFF, 1820px 1861px #FFF, 1681px 1195px #FFF, 928px 1718px #FFF, 575px 325px #FFF, 753px 1466px #FFF, 247px 1474px #FFF, 1767px 899px #FFF, 627px 1655px #FFF, 465px 1497px #FFF, 881px 248px #FFF, 741px 690px #FFF, 968px 1385px #FFF, 266px 657px #FFF, 857px 94px #FFF, 1726px 1418px #FFF;
}

#title {
	height: 100vh;
	top: 0;
	left: 0;
	right: 0;
	color: #FFF;
	text-align: center;
	font-family: 'Playfair Display', serif;
	font-size: 50px;
	letter-spacing: 10px;
	margin-top: 10%;

}



#title p {
	margin-top: 10px;
	font-size: 14px;
	font-family: 'Montserrat';
	letter-spacing: 4px;
	background: linear-gradient(90deg, rgba(232, 158, 16, 1) 0%, rgba(255, 255, 255, 1) 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	margin-top: 30px;
}

#title ul {
	background: linear-gradient(90deg, rgba(232, 158, 16, 1) 0%, rgba(255, 255, 255, 1) 100%);

}


@keyframes animStar {
	from {
		transform: translateY(0px);
	}

	to {
		transform: translateY(-2000px);
	}
}


.button-images {
	width: 80%;
	margin: 75px auto;



}

.button-container {
	position: relative;
	text-align: center;
	padding: 0;
	overflow: hidden;

}



.button-container A:before {
	content: '';
	display: inline-block;
	height: 48%;
	/* 
		  vertical-align:middle; 
		  height: 100%;*/


}


.hero-img {
	width: 300px;
}

.button-container a {
	transition: all 1s ease-out;
	background: linear-gradient(90deg, rgba(232, 158, 16, 0.21332282913165268) 0%, rgba(0, 0, 0, 0.41780462184873945) 41%, rgba(0, 0, 0, 1) 100%);
	border-radius: 100%;
	padding: 5%;
	color: #FFFFFF;
	position: absolute;
	font-size: 0.9em;
	font-weight: 700;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: inline-block;
	text-decoration: none;
	text-transform: uppercase;
	font-family: 'Montserrat';
}

.button-container A:hover {
	background: none;
	border: none;
	opacity: 0;
}

.button-container img {
	width: 100%;
	height: auto;
	display: block
}


/*Columns*/
.one_half,
.one_third,
.two_third,
.three_fourth,
.one_fourth,
.one_fifth,
.two_fifth,
.three_fifth,
.four_fifth,
.one_sixth,
.five_sixth {
	position: relative;
	margin-right: 4%;
	float: left;
	min-height: 1px;
	height: auto !important;
}

.one_fourth {
	width: 22%;
}

.three_fourth {
	width: 74%;
}

.one_fifth {
	width: 16.8%;
}

.two_fifth {
	width: 37.6%;
}

.three_fifth {
	width: 58.4%;
}

.four_fifth {
	width: 79.2%;
}

.one_sixth {
	width: 13.3333%;
}

.three_sixth {
	width: 47.9998%;
}

.five_sixth {
	width: 82.6665%;
}

.last {
	margin-right: 0 !important;
	clear: right;
}

.clearboth {
	clear: both;
	display: block;
	font-size: 0;
	height: 0;
	line-height: 0;
	width: 100%;
}

.spacer {
	height: 15px;
}

.one_half .one_half {
	margin-right: 8.3333%;
	width: 45.8333%;
}

.one_half .one_third {
	margin-right: 8.3333%;
	width: 27.7778%;
}

.one_half .two_third {
	margin-right: 8.3333%;
	width: 63.8889%;
}

.two_third .one_third {
	margin-right: 6.1224%;
	width: 29.2517%;
}

.two_third .two_third {
	margin-right: 6.1224%;
	width: 64.6258%;
}

.two_third .one_fourth {
	margin-right: 6.1224%;
	width: 20.4082%;
}

.one_half,
.two_fourth {
	width: 48%;
}

.one_third,
.two_sixth {
	width: 30.6666%;
}

.two_third,
.four_sixth {
	width: 65.3332%;
}

.secao-menu-a a {
	font-family: 'Roboto Slab';
}

#scroll {
	position: fixed;
	right: 10px;
	bottom: 10px;
	cursor: pointer;
	width: 50px;
	height: 50px;
	background: linear-gradient(90deg, rgba(232, 158, 16, 1) 0%, rgba(255, 255, 255, 1) 100%);
	text-indent: -9999px;
	display: none;
	-webkit-border-radius: 60px;
	-moz-border-radius: 60px;
	border-radius: 60px;
}

#scroll span {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -8px;
	margin-top: -12px;
	height: 0;
	width: 0;
	border: 8px solid transparent;
	border-bottom-color: black;
}

#scroll:hover {
	background-color: #e74c3c;
	opacity: 1;
	filter: "alpha(opacity=100)";
	-ms-filter: "alpha(opacity=100)";}

	.overlay {
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: rgba(0, 0, 0, 0.7);
		transition: opacity 500ms;
		visibility: hidden;
		opacity: 0;
		height: 100%;
	  }
	  .overlay:target {
		visibility: visible;
		opacity: 1;
	  }
	  
	  .popup {
		margin: 70px auto;
		padding: 20px;
		background: #ddd;
		width: 30%;
		position: relative;
		transition: all 2s ease-in-out;
		z-index: 0;
		font-family: 'Montserrat'

	  }
	  
	  .popup h2 {
		margin-top: 0;
		color: #000;
		font-family: 'Montserrat'
	  }
	  .popup .close {
		position: absolute;
		top: 20px;
		right: 30px;
		transition: all 200ms;
		font-size: 30px;
		font-weight: bold;
		text-decoration: none;
		color: black;
		
	  }
	  .popup .close:hover {
		color: #000;
	  }
	  .popup .content {
		max-height: 30%;
		overflow: auto;
	  }
	  
	  @media screen and (max-width: 700px){
		.box{
		  width: 70%;
		}
		.popup{
		  width: 70%;
		}
	  }

	  a.button:visited {
		color: gray;
	}

	#popup1 {
font-size: 16px;
	}

	a:visited {
		color:rgb(232, 158, 16)
	}

	
	/* Switch base */
	.f, .f span {
		display: block;
	}
	.f {
		--dur: 0.6s;
		display: flex;
		cursor: pointer;
		align-items: center;
		margin: auto;
		-webkit-tap-highlight-color: transparent;
	}
	.f__input {
		position: fixed;
		top: -1.5em;
		left: -1.5em;
	}
	.f__handle, .f__switch {
		height: 3em;
	}
	.f__handle {
		clip-path: circle(50% at 50% 50%);
		position: relative;
		width: 3em;
		transition:
			clip-path 0s calc(var(--dur) / 2) ease-in-out,
			transform var(--dur) ease-in-out;
	}
	.f__handle span {
		position: absolute;
	}
	.f__switch {
		background-color: rgb(232, 158, 16);
		border-radius: 1.5em;
		margin: 0 0.75em;
		width: 6em;
	}
	.f__input:focus {
		outline: 0;
	}
	.f__input:focus-visible + .f__switch {
		box-shadow: 0 0 0.25em var(--primary);
	}
	.f__input:checked + .f__switch .f__handle {
		clip-path: circle(71% at 50% 50%);
		transform: translateX(100%);
	}
	/* Shapes */
	.f__1, .f__2a, .f__2b, .f__3, .f__4, .f__5 {
		border-radius: 50%;
	}
	.f__1 {
		background-color: #fff0;
		box-shadow: 0 -0.5em 0 0.4em #e54d1b inset;
		opacity: 1;
		width: 3em;
		height: 3em;
		transition:
			background-color calc(var(--dur) / 2) calc(var(--dur) / 2) ease-in-out,
			box-shadow calc(var(--dur) / 2) calc(var(--dur) / 2) ease-in-out,
			opacity 0s calc(var(--dur) / 2) ease-in-out;
	}
	.f__input:checked + .f__switch .f__1,
	.f__input:checked + .f__switch .f__3 {
		box-shadow: 0 0 0 0.1em #000 inset;
	}
	.f__input:checked + .f__switch .f__1,
	.f__4 {
		background-color: #b8000c;
	}
	.f__input:checked + .f__switch .f__1 {
		opacity: 0;
		transition-delay: 0s, 0s, calc(var(--dur) / 2);
	}
	.f__2, .f__2 span {
		transition: all calc(var(--dur) / 2) calc(var(--dur) / 2) ease-in-out;
	}
	.f__2, .f__3 span {
		transform-origin: 50% 100%;
	}
	.f__2, .f__5 {
		width: 100%;
		height: 100%;
	}
	.f__2 {
		top: 0;
		left: 0;
	}
	.f__input:checked + .f__switch .f__2,
	.f__input:checked + .f__switch .f__2 span {
		transition-delay: 0s;
	}
	.f__input:checked + .f__switch .f__2 {
		transform: scaleY(0);
	}
	.f__input:checked + .f__switch .f__2 span:nth-child(-n + 2) {
		box-shadow: 0 0 0 0.25em #000 inset;
	}
	.f__2a, .f__2b {
		box-shadow: 0 0 0 0.25em #e54d1b inset;
		top: 0.35em;
		width: 1.375em;
		height: 1.65em;
	}
	.f__2a {
		clip-path: polygon(0% 35%,100% 28%,100% 100%,0% 100%);
		left: 0.15em;
		transform: rotate(-45deg) skewX(-13deg);
	}
	.f__2b {
		clip-path: polygon(0 28%,100% 35%,100% 100%,0 100%);
		right: 0.15em;
		transform: rotate(45deg) skewX(13deg);
	}
	.f__input:checked + .f__switch .f__2c,
	.f__input:checked + .f__switch .f__3 span,
	.f__5 {
		background-color: #000;
	}
	.f__2c {
		background-color: #e54d1b;
		clip-path: polygon(50% 0%,80% 14%,61% 22%,60% 75%,100% 90%,100% 100%,0% 100%,0% 90%,40% 75%,39% 22%,20% 14%);
		top: 0;
		left: 1em;
		width: 1em;
		height: 2.2em;
	}
	.f__2d, .f__2e {
		top: 0.3em;
		width: 0.25em;
		height: 0.55em;
	}
	.f__2d {
		border-radius: 0% 100% 0% 100% / 100% 100% 0% 0%;
		box-shadow: -0.1em -0.05em 0 #e54d1b inset;
		left: 1.2em;
	}
	.f__input:checked + .f__switch .f__2d {
		box-shadow: -0.1em -0.05em 0 #000 inset;
	}
	.f__2e {
		border-radius: 100% 0% 0% 100% / 100% 100% 0% 0%;
		box-shadow: 0.1em -0.05em 0 #e54d1b inset;
		left: 1.55em;
	}
	.f__input:checked + .f__switch .f__2e {
		box-shadow: 0.1em -0.05em 0 #000 inset;
	}
	.f__3 {
		box-shadow: 0 0 0 0 #000 inset;
		overflow: hidden;
		top: 50%;
		left: 50%;
		width: 3em;
		height: 3em;
		transform: translate(-50%,-50%);
		transition: all calc(var(--dur) / 2) 0.25s ease-in-out;
		z-index: 3;
	}
	.f__input:checked + .f__switch .f__3 {
		width: 2.15em;
		height: 2.15em;
		transition-delay: calc(var(--dur) / 4);
	}
	.f__3 span {
		background-color: #0000;
		clip-path: polygon(50% 0,100% 100%,0 100%);
		top: 0.675em;
		left: 0.9625em;
		width: 0.225em;
		height: 0.4em;
		transition:
			background-color 0s calc(var(--dur) / 4) ease-in-out,
			transform calc(var(--dur) / 4) ease-in-out;
	}
	.f__input:checked + .f__switch .f__3 span {
		transition-delay: calc(var(--dur) * 0.75);
	}
	.f__input:checked + .f__switch .f__4,
	.f__input:checked + .f__switch .f__5 {
		transition-delay: calc(var(--dur) / 2);
	}
	.f__3a {
		transform: translateY(1.375em);
	}
	.f__input:checked + .f__switch .f__3a {
		transform: translateY(0.975em);
	}
	.f__3b {
		transform: rotate(21.176deg) translateY(1.375em);
	}
	.f__input:checked + .f__switch .f__3b {
		transform: rotate(21.176deg) translateY(0.975em);
	}
	.f__3c {
		transform: rotate(42.352deg) translateY(1.375em);
	}
	.f__input:checked + .f__switch .f__3c {
		transform: rotate(42.352deg) translateY(0.975em);
	}
	.f__3d {
		transform: rotate(63.529deg) translateY(1.375em);
	}
	.f__input:checked + .f__switch .f__3d {
		transform: rotate(63.529deg) translateY(0.975em);
	}
	.f__3e {
		transform: rotate(84.705deg) translateY(1.375em);
	}
	.f__input:checked + .f__switch .f__3e {
		transform: rotate(84.705deg) translateY(0.975em);
	}
	.f__3f {
		transform: rotate(105.882deg) translateY(1.375em);
	}
	.f__input:checked + .f__switch .f__3f {
		transform: rotate(105.882deg) translateY(0.975em);
	}
	.f__3g {
		transform: rotate(127.058deg) translateY(1.375em);
	}
	.f__input:checked + .f__switch .f__3g {
		transform: rotate(127.058deg) translateY(0.975em);
	}
	.f__3h {
		transform: rotate(148.235deg) translateY(1.375em);
	}
	.f__input:checked + .f__switch .f__3h {
		transform: rotate(148.235deg) translateY(0.975em);
	}
	.f__3i {
		transform: rotate(169.411deg) translateY(1.375em);
	}
	.f__input:checked + .f__switch .f__3i {
		transform: rotate(169.411deg) translateY(0.975em);
	}
	.f__3j {
		transform: rotate(190.588deg) translateY(1.375em);
	}
	.f__input:checked + .f__switch .f__3j {
		transform: rotate(190.588deg) translateY(0.975em);
	}
	.f__3k {
		transform: rotate(211.764deg) translateY(1.375em);
	}
	.f__input:checked + .f__switch .f__3k {
		transform: rotate(211.764deg) translateY(0.975em);
	}
	.f__3l {
		transform: rotate(232.941deg) translateY(1.375em);
	}
	.f__input:checked + .f__switch .f__3l {
		transform: rotate(232.941deg) translateY(0.975em);
	}
	.f__3m {
		transform: rotate(254.117deg) translateY(1.375em);
	}
	.f__input:checked + .f__switch .f__3m {
		transform: rotate(254.117deg) translateY(0.975em);
	}
	.f__3n {
		transform: rotate(275.294deg) translateY(1.375em);
	}
	.f__input:checked + .f__switch .f__3n {
		transform: rotate(275.294deg) translateY(0.975em);
	}
	.f__3o {
		transform: rotate(296.470deg) translateY(1.375em);
	}
	.f__input:checked + .f__switch .f__3o {
		transform: rotate(296.470deg) translateY(0.975em);
	}
	.f__3p {
		transform: rotate(317.647deg) translateY(1.375em);
	}
	.f__input:checked + .f__switch .f__3p {
		transform: rotate(317.647deg) translateY(0.975em);
	}
	.f__3q {
		transform: rotate(338.823deg) translateY(1.375em);
	}
	.f__input:checked + .f__switch .f__3q {
		transform: rotate(338.823deg) translateY(0.975em);
	}
	.f__4, .f__5 {
		clip-path: polygon(50% 0, 100% 0%, 100% 100%, 50% 100%, 0 100%, 0 0%);
		opacity: 0;
		transition:
			background-color calc(var(--dur) / 2) ease-in-out,
			border-radius calc(var(--dur) / 2) ease-in-out,
			clip-path calc(var(--dur) / 2) ease-in-out,
			opacity 0s calc(var(--dur) / 2) ease-in-out;
	}
	.f__4 {
		top: 0.1em;
		left: 0.1em;
		width: 2.8em;
		height: 2.8em;
		z-index: 2;
	}
	.f__5 {
		z-index: 1;
	}
	.f__input:checked + .f__switch .f__4,
	.f__input:checked + .f__switch .f__5 {
		border-radius: 0;
		clip-path: polygon(50% 0, 93.3% 25%, 93.3% 75%, 50% 100%, 6.67% 75%, 6.67% 25%);
		opacity: 1;
		transition-delay: calc(var(--dur) / 2);
	}
	/* Dark theme */
	@media (prefers-color-scheme: dark) {
		:root {
			--bg: #2e3138;
			--fg: #e3e4e8;
			--primary: #5583f6;
			--switchBg: #454954;
		}
	}
